:root {
  --player-height: 90px;
  --sidebar-width: 60px;
  --sidebar-s-width: 230px;
  --main-content-header-height: 100px;
}

/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #141922;
  color: #707070;
  font-weight: bold;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
/* UTILS */

.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-flex {
  height: 100%;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

[class*="col"] {
  padding-left: 1rem;
  padding-right: 1rem;
}

.col-100 {
  width: 100%;
}

.col-1-2 {
  width: calc(100% / 2);
}

.col-1-3 {
  width: calc(100% / 3);
}

.col-1-4 {
  width: calc(100% / 4);
}

.col-1-5 {
  width: calc(100% / 5);
}

.col-1-6 {
  width: calc(100% / 6);
}

/* LAYOUT */

.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#top-content {
  height: calc(100vh - var(--player-height));
  display: flex;
}

#player {
  height: var(--player-height);
  background-color: #282828;
}

#sidebar {
  width: var(--sidebar-width);
  background-color: #000000;
}

#main-content {
  width: calc(100% - var(--sidebar-width));
}

#main-content-header {
  height: var(--main-content-header-height);
  background-color: #080b12;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#content {
  height: calc(
    100vh - var(--player-height) - var(--main-content-header-height)
  );
  overflow: auto;
}

/* MAIN CONTENT */

#main-content-header button {
  background-color: inherit;
  color: white;
  border: 1px solid;
  border-radius: 50px;
  padding: 10px 50px;
  height: 40px;
  margin-right: 30px;
}

.menù {
  padding: 1rem 2rem;
}

.menù .container .row {
  justify-content: center;
}

.menù .container .row a {
  padding-right: 30px;
  text-align: center;
  display: inline-block;
  font-size: 0.7rem;
}

.card {
  padding: 1rem 0.5rem;
  width: calc(100% / 2);
}

.card-title {
  text-align: center;
  line-height: 2rem;
}

.card-img {
  position: relative;
}

.hover-img {
  display: none;
}

.card-img:hover .hover-img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 2rem;
  background-color: rgb(0 0 0 / 67%);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SIDEBAR */
.logo {
  padding: 27px 0px;
}

.small-logo {
  width: 29px;
}

.big-logo {
  display: none;
  width: 140px;
}

.icon-category {
  width: 30px;
  vertical-align: middle;
  margin-right: 10px;
}

.icon-description {
  display: none;
}

.icon-category-install {
  width: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

.icon-category-user {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 10px;
  padding: 2px 2px;
  background-color: grey;
  border-radius: 50%;
}

.category-list-item {
  padding-top: 5px;
  padding-bottom: 5px;
}

.playlist {
  display: none;
}

.playlist-title-sidebar {
  padding-top: 15px;
  padding-bottom: 15px;
}

.playlist li {
  padding-top: 15px;
  padding-bottom: 15px;
}

.new-playlist {
  font-size: 17px;
}

.install {
  padding-bottom: 10px;
}

.install span {
  display: none;
}

.profile {
  padding-top: 10px;
  padding-bottom: 10px;
}

.user {
  font-size: 18px;
  font-weight: bolder;
  color: white;
}

.profile .user {
  display: none;
}

/* PLAYER */
#player {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}

.player-left,
.player-middle,
.player-right {
  display: flex;
  flex: 1 1 0px;
}

.player-left {
  justify-content: start;
  align-items: center;
  margin-left: 10px;
  gap: 6px;
}

.cover-song {
  width: 40px;
}

.album-name {
  color: white;
  font-weight: bolder;
  font-size: 15px;
}

.player-left-icon {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding-left: 1px;
}

.player-middle {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.player-middle-top {
  display: flex;
  gap: 13px;
  display: flex;
  align-items: center;
}

.player-middle-bottom {
  display: flex;
  align-items: center;
  gap: 6px;
}

.bar-minute {
  font-size: 10px;
  font-weight: bold;
  color: white;
}

.middle-bar {
  width: 120px;
  background-color: #5a5a5a;
  border-radius: 20px;
}

.cursor-middle-bar {
  width: 40px;
  border: 2px solid #c1c1c1;
  border-radius: 20px;
  position: relative;
}

.cursor-middle-bar:hover {
  width: 40px;
  border: 2px solid yellowgreen;
  border-radius: 20px;
  position: relative;
}

.cursor {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%) translateX(50%);
  cursor: pointer;
}

.cursor:hover {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%) translateX(50%);
  background-color: greenyellow;
  cursor: pointer;
}

.player-right {
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  margin-right: 8px;
}

.volume {
  display: flex;
  align-items: center;
  gap: 10px;
}

.volume-bar {
  width: 41px;
  background-color: #5a5a5a;
  border-radius: 20px;
}

.cursor-volume-bar {
  width: 20px;
  border: 2px solid #c1c1c1;
  border-radius: 20px;
  position: relative;
}

.cursor-volume-bar:hover {
  width: 20px;
  border: 2px solid yellowgreen;
  border-radius: 20px;
  position: relative;
}

.volume-cursor {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%) translateX(50%);
  cursor: pointer;
}

.volume-cursor:hover {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%) translateX(50%);
  background-color: yellowgreen;
  cursor: pointer;
}

/* RESPONSIVE */

/* S DEVICE */
@media screen and (min-width: 570px) {
  /* SIDEBAR */
  .big-logo {
    display: block;
  }

  .small-logo {
    display: none;
  }

  #sidebar {
    width: var(--sidebar-s-width);
  }

  .icon-description {
    display: block;
  }

  .category-list-item a {
    display: flex;
    align-items: center;
  }

  .playlist {
    display: block;
  }

  .install {
    border-bottom: 1px solid grey;
    display: flex;
  }

  .install span {
    display: block;
  }

  .profile .user {
    display: block;
  }

  .profile {
    display: flex;
  }

  .button {
    padding: 10px;
    background-color: grey;
    margin-right: 4px;
  }

  .fa-solid.fa-plus {
    color: black;
  }

  .button-add-playlist {
    display: flex;
    align-items: center;
  }
  /* PLAYER */

  .player-middle {
    flex: 2 1 0px;
  }

  .song-information {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
  }

  .player-left {
    gap: 10px;
  }

  .player-right {
    gap: 12px;
  }

  .cover-song {
    width: 50px;
  }

  .middle-bar {
    width: 150px;
    background-color: #5a5a5a;
    border-radius: 20px;
  }

  .volume-bar {
    width: 60px;
    background-color: #5a5a5a;
    border-radius: 20px;
  }

  .player-middle-top {
    gap: 16px;
    font-size: 16px;
  }

  .player-middle-bottom {
    gap: 9px;
  }

  .player-left-icon {
    margin-left: 8px;
  }

  .album-name {
    font-size: 14px;
  }
}

/* MEDIUM DEVICE */
@media screen and (min-width: 878px) {
  .middle-bar {
    width: 220px;
    background-color: #5a5a5a;
    border-radius: 20px;
  }

  .player-left-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .volume-bar {
    width: 100px;
    background-color: #5a5a5a;
    border-radius: 20px;
  }

  .player-middle-top {
    gap: 28px;
    font-size: 18px;
  }

  .player-middle-bottom {
    gap: 18px;
  }

  .player-left-icon {
    margin-left: 18px;
  }

  .player-right {
    gap: 28px;
  }

  .album-name {
    font-size: 16px;
  }

  .song-name {
    font-size: 15px;
  }
}

/* LARGE DEVICE */
@media screen and (min-width: 1440px) {
  .middle-bar {
    width: 320px;
    background-color: #5a5a5a;
    border-radius: 20px;
  }

  .volume-bar {
    width: 120px;
    background-color: #5a5a5a;
    border-radius: 20px;
  }

  .player-middle-top {
    gap: 50px;
    font-size: 24px;
  }

  .player-middle-bottom {
    gap: 24px;
  }

  .player-left-icon {
    margin-left: 25px;
  }
}
